# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables
# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL=postgresql://postgres:attendeaze@localhost:5432/attendeaze?schema=public
# Google Authentication

HOW TO SET THIS UP BELOW

GOOGLE_ID=[id]
GOOGLE_SECRET=[secret key]
NEXTAUTH_URL=[localhost or ip where the service is running]
SECRET=[password]
SMTP_HOST=[smtp.gmail.com]
SMTP_PORT=[port number]
SMTP_USER=[email@gmail.com]
SMTP_PASSWORD=[password]

SET UP GMAIL
GET SMPT SETTING
ALLOW LESS SECURE APPS
