.event_card {
  margin-bottom: 15px;
  cursor: pointer;
  flex: 0 0 15em;
  padding: 0px 20px;
}

.name {
  font-weight: bold;
}

.location {
  font-size: 14px;
}

.date {
  font-size: 14px;
  word-wrap: break-word;
}

.event-card-attendee-heading {
  font-size: 18px;
}


.list_container {
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 350px;
  border-radius: 15px;
}