.navbar {
  display: flex;
  background-color: lightblue;
  padding: 15px 20px;
  height: auto;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.nav_cluster_left {
  display: flex;
  align-items: center;
}

.nav_cluster_right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logo {
  font-size: 50px !important;
}

.search {
  width: 500px !important;
  margin-left: 25px !important;
}

.create {
  margin-right: 5px;
  font-weight: bold;
  border: solid 1.5px gray;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  background-color: lightgray;
}

.create:hover {
  color: lightgray;
  background-color: rgb(37, 37, 37);
}

.events {
  margin-left: 15px;
  font-weight: bold;
}

.account {
  font-size: 50px !important;
  margin-left: 15px !important;
  cursor: pointer;
}