.container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  /* -ms-overflow-style: none; */
  scrollbar-width: none;
  /* -webkit-scrollbar-width: none; */
  /* -webkit-overflow-scrolling: none; */
  position: absolute;
  width: 20%;
  top: 1;
  left: 0;
  background-color: lightgray;
  height: 100%
}

.sidebar {
  background-color: lightgrey;
  height: 100%;
  /* width: 20%; */
  z-index: 1;
  /* position: absolute; */
  /* margin-top: 85px; */
  padding: 20px 20px;
  scrollbar-width: none;
}

.coming_up {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* ::-webkit-scrollbar {
  width: 0;
} */